*
{
    padding: 0px;
    border: 0px;
}

.header_menu
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 30px;
    border: 1px border black;
    height: 8vh;
    background-color: yellow;
}
#header_branco
{
    background-color: white;
    height: 20vh;
    border: 1px solid black;
}

.container
{
    border: 1px solid black;
    display: grid;
    grid-template-areas:
    ''
    ''
    ''
}