.main_div
{
    display: flex;
    justify-content: center;
}

.main_descricao
{
    width: 100vh;
    display: grid;
    grid-template-areas: 
    'main_descricao_div lista_igredientes'
    'main_descricao_botao main_descricao_botao';
}
#lista_igredientes
{
    grid-area: lista_igredientes;
    display: flex;
    justify-content: end;
}
#main_descricao_div
{
    grid-area: main_descricao_div;
}
#main_descricao_botao
{
    grid-area: main_descricao_botao;
    display: flex;
    justify-content: end;
}
button
{
    height: 8vh;
    width: 12vh;
    border-radius: 4px;
    background-color: rgb(190, 250, 99);
    border: 1px outset rgb(190, 250, 99);
    margin-bottom: 20px;
}

.main_div img
{
    height: 40vh;
    width: 50vh;
    box-shadow: 8px 8px 12px rgba(207, 94, 94, 0.5);
    border-radius: 10px;
}